.main-nav-container {
    background-color: rgb(13, 94, 87);
    border-radius: 1em;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

.intro-container {
    border: solid black;
}

.image-links {
    border: solid black;
    margin: 5px;

    display: flex;
    justify-content: space-between;
}

.image-box {
    text-align: center;
    border: solid black;
    border-radius: 1em;
    margin: 1em;
    flex: 1;
}

img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}