.main-nav-container {
    background-color: rgb(13, 94, 87);
    border-radius: 1em;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.intro-container {
    border: solid black;
}

.image-links {
    border: solid black;
    margin: 5px;

    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}